##### Import pandas and read the population_india_census2011.csv file i nto a dataframe called pop

In [1]:
import pandas as pd
import numpy as np

In [2]:
pop = pd.read_csv('population_india_census2011.csv',encoding='unicode_escape')

##### Show the head of the dataframe: a. Default, b. First 10 states.

In [3]:
pop.head()

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931

In [4]:
pop.head(10)

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931
5,6,South,Tamil Nadu,72147030,37229590,34917440,"130,058 km2",996
6,7,North,Rajasthan,68548437,51500352,17048085,"342,239 km2",928
7,8,South,Karnataka,61095297,37469335,23625962,"191,791 km2",973
8,9,West,Gujarat,60439692,34694609,25745083,"196,024 km2",919
9,10,South,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2",993

##### What are the column names

In [5]:
pop.columns

Index(['Sno', 'Region', 'State / Union Territory', 'Population',
       'Rural population', 'Urban population', 'Area', 'Gender Ratio'],
      dtype='object')

##### How many ‘State/Union Territory’ are represented in this data set?

##### Get a list or array of all the ‘State/Union Territory’ in the data set

In [6]:
pop['State / Union Territory'].count()

36

##### Which region has maximum states/UT

In [12]:
pop.groupby('Region').count().sort_values('State / Union Territory',ascending=False).head(1)

,Sno,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
Region,,,,,,,
North,11,11,11,11,11,11,11

In [13]:
pop.groupby('Region').count()['State / Union Territory'].sort_values(ascending=False).head(1)

Region
North    11
Name: State / Union Territory, dtype: int64

##### Which state/UT is having maximum population?

In [14]:
pop.sort_values('Population',ascending=False).head(1)

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912

##### What is most populated region

In [16]:
pop.groupby('Region').sum().sort_values('Population',ascending=False).head(1)

        Sno  Population  Rural population  Urban population  Gender Ratio
Region
North   210   472890347         355781714         117108633          9896

##### How many states/UT have gender ratio greater than 900

In [18]:
sum(pop['Gender Ratio']>900)

27

##### How many states have the word "Pradesh" in their name

In [ ]:
lambda name: 'Pradesh' in name

In [20]:
sum(pop['State / Union Territory'].apply(lambda name: 'Pradesh' in name))

5

##### Add a column that calculates the density of population in each state/UT

In [21]:
pop.head()

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931

In [22]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sno                      36 non-null     int64
 1   Region                   36 non-null     object
 2   State / Union Territory  36 non-null     object
 3   Population               36 non-null     int64
 4   Rural population         36 non-null     int64
 5   Urban population         36 non-null     int64
 6   Area                     36 non-null     object
 7   Gender Ratio             36 non-null     int64
dtypes: int64(5), object(3)
memory usage: 2.4+ KB

In [29]:
pop['Area'] = pop['Area'].str[0:-4].str.replace(',','').astype('int')

In [30]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sno                      36 non-null     int64
 1   Region                   36 non-null     object
 2   State / Union Territory  36 non-null     object
 3   Population               36 non-null     int64
 4   Rural population         36 non-null     int64
 5   Urban population         36 non-null     int64
 6   Area                     36 non-null     int32
 7   Gender Ratio             36 non-null     int64
dtypes: int32(1), int64(5), object(2)
memory usage: 2.2+ KB

In [32]:
pop['Population_Density'] = pop['Population']/pop['Area']

In [33]:
pop.head()

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio,Population_Density
0,1,North,Uttar Pradesh,199812341,155317278,44495063,240928,912,829.344622
1,2,West,Maharashtra,112374333,61556074,50818259,307713,929,365.192023
2,3,North,Bihar,104099452,92341436,11758016,94163,918,1105.523953
3,4,East,West Bengal,91276115,62183113,29093002,88752,953,1028.440091
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,308245,931,235.613908

##### WhichStateshave the highest percentage of rural population?

In [34]:
pop['R_percent'] = (pop['Rural population']/pop['Population'])*100

In [35]:
pop.head()

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio,Population_Density,R_percent
0,1,North,Uttar Pradesh,199812341,155317278,44495063,240928,912,829.344622,77.731574
1,2,West,Maharashtra,112374333,61556074,50818259,307713,929,365.192023,54.777699
2,3,North,Bihar,104099452,92341436,11758016,94163,918,1105.523953,88.705016
3,4,East,West Bengal,91276115,62183113,29093002,88752,953,1028.440091,68.126380
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,308245,931,235.613908,72.366396

In [36]:
pop.sort_values('R_percent',ascending=False).head(1)

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio,Population_Density,R_percent
19,20,North,Himachal Pradesh,6864602,6176050,688552,55673,972,123.302175,89.969528

#### &&&&&