In [1]:
from datetime import datetime

In [2]:
my_year = 2020
my_month = 8
my_day = 13
my_hour = 17
my_minute = 5
my_second = 30

In [3]:
my_date = datetime(my_year,my_month,my_day)

In [4]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [5]:
my_date.day

13

In [6]:
my_date.minute

0

In [7]:
my_date_time.minute

5

### Numpy Datetime Array

In [8]:
import numpy as np

In [9]:
np.array(['2016-03-15','2017-05-24','2018-08-09'])

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='<U10')

In [10]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype = 'datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [11]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype = 'datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [12]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype = 'datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

### Numpy Date Range

In [13]:
np.arange('2018-06-01','2018-06-23',7,dtype = 'datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [14]:
np.arange('1984','2000',dtype = 'datetime64[Y]')

array(['1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999'],
      dtype='datetime64[Y]')

### Pandas Datetime Index

In [15]:
import pandas as pd

In [16]:
pd.date_range('1/1/2020',periods=7,freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.to_datetime(['19++08++2020','20++08++2020'], format = '%d++%m++%Y')

DatetimeIndex(['2020-08-19', '2020-08-20'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(['Jan 01, 2020','13/08/2020','12-Aug-2020',None])
idx

DatetimeIndex(['2020-01-01', '2020-08-13', '2020-08-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
# Example
data = np.random.randn(3,2)
cols = ['A','B']

In [25]:
data

array([[0.47260715, 0.63931715],
       [0.19333954, 1.17521129],
       [0.37174613, 0.58354881]])

In [19]:
sample_dates = np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype = 'datetime64[D]')

In [20]:
sample_dates

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [21]:
idx = pd.DatetimeIndex(sample_dates)

In [22]:
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [23]:
df = pd.DataFrame(data,idx,cols)

In [31]:
df

                   A         B
2016-03-15  0.472607  0.639317
2017-05-24  0.193340  1.175211
2018-08-09  0.371746  0.583549

In [24]:
df.index

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [25]:
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [26]:
df.index.argmax()

2

#### &&&&&