In [2]:
import numpy as np

In [2]:
A = np.matrix('3,1,2;4,2,5;6,7,8')
A

matrix([[3, 1, 2],
        [4, 2, 5],
        [6, 7, 8]])

In [3]:
B = np.matrix('2,-1,3')

In [4]:
B

matrix([[ 2, -1,  3]])

In [5]:
B = np.matrix('2,-1,3').transpose()

In [6]:
B

matrix([[ 2],
        [-1],
        [ 3]])

In [7]:
sol = np.linalg.solve(A,B)
sol

matrix([[ 1.51851852],
        [ 1.37037037],
        [-1.96296296]])

#### File Handeling in Numpy

In [3]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
np.savetxt('a.csv',a,delimiter=',')

In [11]:
np.loadtxt('a.csv',delimiter=',')

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [6]:
np.save('data.npy',a)

In [7]:
np.load('data.npy')

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [16]:
np.savez('both.npz',a,arr)

In [17]:
d = np.load('both.npz')

In [18]:
d.files

['arr_0', 'arr_1']

In [20]:
d[d.files[0]]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
d[d.files[1]]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### Pandas

In [22]:
import pandas as pd

### Using List

In [23]:
my_list = [100,200,300]

In [24]:
pd.Series(my_list)

0    100
1    200
2    300
dtype: int64

In [25]:
labels = ['A','B','C']

In [26]:
pd.Series(my_list,labels)

A    100
B    200
C    300
dtype: int64

#### Using Numpy Array

In [27]:
arr = np.array([100,200,300])

In [28]:
arr

array([100, 200, 300])

In [32]:
z= pd.Series(arr,index=labels,name='Method2')

In [33]:
z

A    100
B    200
C    300
Name: Method2, dtype: int32

In [35]:
Method2

NameError: name 'Method2' is not defined

### Using Dictionaries

In [36]:
dict = {'A':100,'B':200,'C':300,'D':400}

In [38]:
z1 = pd.Series(dict)
z1

A    100
B    200
C    300
D    400
dtype: int64

In [39]:
z2 = pd.Series([10,20,30,40],'A B D E'.split())

In [40]:
z2

A    10
B    20
D    30
E    40
dtype: int64

In [41]:
'A B D E'.split()

['A', 'B', 'D', 'E']

In [42]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [43]:
z1+z2

A    110.0
B    220.0
C      NaN
D    430.0
E      NaN
dtype: float64

### Slicing a Series

In [44]:
z1['A':'C']

A    100
B    200
C    300
dtype: int64

In [45]:
type(z1)

pandas.core.series.Series

In [46]:
type(z1['A':'C'])

pandas.core.series.Series

### Indexing

**.loc & .iloc**

In [48]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [49]:
z1.iloc[2]

300

In [50]:
z1.loc['C']

300

In [51]:
z1.A

100

In [52]:
z1.B

200

In [55]:
dict = {5:100,6:200,7:300,8:400}

In [56]:
z3 = pd.Series(dict)
z3

5    100
6    200
7    300
8    400
dtype: int64

In [57]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [59]:
z1[0]

100

In [60]:
z1[1]

200

In [61]:
z3

5    100
6    200
7    300
8    400
dtype: int64

In [63]:
z3.iloc[0]

100

In [64]:
z3.iloc[2]

300

### Operaions

In [65]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [67]:
z1[z1>100]

B    200
C    300
D    400
dtype: int64

In [68]:
l = [True,False,True,False]

In [69]:
z1[l]

A    100
C    300
dtype: int64

In [70]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [71]:
z1+300

A    400
B    500
C    600
D    700
dtype: int64

#### Ordering on Series

In [75]:
z1.sort_values(ascending=False,inplace=True)

In [76]:
z1

D    400
C    300
B    200
A    100
dtype: int64

#### Aggregation on Series

In [77]:
z1.mean()

250.0

In [78]:
z1.sum()

1000

In [79]:
z1.max()

400

In [80]:
z1.min()

100

In [81]:
z1.idxmax()

'D'

In [84]:
'ABDE'.split()

['ABDE']