# Data Cleaning - Youtube Channel Dataset

In [1]:
import pandas as pd

In [2]:
ytube = pd.read_csv('top-5000-youtube-channels.csv')

In [3]:
ytube.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [4]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [5]:
ytube['Rank'] = ytube['Rank'].str[0:-2].str.replace(',','').astype('int')

In [6]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   int32
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int32(1), int64(1), object(4)
memory usage: 215.0+ KB

In [7]:

mask1 = ytube[ytube['Subscribers'].str.contains('-')].index
ytube.drop(labels=mask1, axis=0, inplace=True)

In [8]:
ytube['Subscribers']= ytube['Subscribers'].astype('int')

In [9]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4613 non-null   int32
 1   Grade          4613 non-null   object
 2   Channel name   4613 non-null   object
 3   Video Uploads  4613 non-null   object
 4   Subscribers    4613 non-null   int32
 5   Video views    4613 non-null   int64
dtypes: int32(2), int64(1), object(3)
memory usage: 216.2+ KB

In [10]:

mask2 = ytube[ytube['Video Uploads'].str.contains('-')].index
ytube.drop(labels=mask2, axis=0, inplace=True)

In [11]:
ytube['Video Uploads']= ytube['Video Uploads'].astype('int')

In [12]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4610 non-null   int32
 1   Grade          4610 non-null   object
 2   Channel name   4610 non-null   object
 3   Video Uploads  4610 non-null   int32
 4   Subscribers    4610 non-null   int32
 5   Video views    4610 non-null   int64
dtypes: int32(3), int64(1), object(2)
memory usage: 198.1+ KB

In [13]:
ytube[ytube['Channel name'] == '']

Empty DataFrame
Columns: [Rank, Grade, Channel name, Video Uploads, Subscribers, Video views]
Index: []

In [14]:
ytube['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ '], dtype=object)

In [15]:
channel_map = {'A++ ' : 5, 'A+ ': 4, 'A ': 3, 'A-' : 2, 'B+' : 1}

In [16]:
ytube['Grade']= ytube['Grade'].map(channel_map)

In [17]:
ytube.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,5.0,Zee TV,82757,18752951,20869786591
1,2,5.0,T-Series,12661,61196302,47548839843
2,3,5.0,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,5.0,SET India,27323,31180559,22675948293
4,5,5.0,WWE,36756,32852346,26273668433

In [18]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4610 non-null   int32
 1   Grade          947 non-null    float64
 2   Channel name   4610 non-null   object
 3   Video Uploads  4610 non-null   int32
 4   Subscribers    4610 non-null   int32
 5   Video views    4610 non-null   int64
dtypes: float64(1), int32(3), int64(1), object(1)
memory usage: 198.1+ KB

##### &&&&&